/* Downloadig the font for the website */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');



body{
    /* The part for animated background */
    margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
	font-size:12px;
    background: #2980b9 url('./images/background.png') repeat 0 0;
    /*making animations for all browsers*/
	-webkit-animation: 20s linear 0s normal none infinite animate;
	-moz-animation: 20s linear 0s normal none infinite animate;
	-ms-animation: 20s linear 0s normal none infinite animate;
	-o-animation: 20s linear 0s normal none infinite animate;
	animation: 50s linear 0s normal none infinite animate;
}

/*--------------------Animated Background-----------------------*/
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 100vh;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 100vh;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 100vh}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 100vh;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 100vh;}
}


#root{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#mainBox{
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
    
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



#createAcc{
    border:none;
    background-color: transparent;
    transition: 0.3s;
    
}

#createAcc:hover{
    text-decoration: underline;
    color: rgb(21, 0, 255);
    cursor: pointer;
}

#userBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-bottom: 5%;
}

#user, #password {
    border-radius: 10px 10px 10px 10px;
    border: none;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;

}

#userLogButton, #userAddButton{
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    transition: 200ms;
    background-color: #2980b9;
    color: #fff;
    border:none;
}

#userLogButton:hover, #userAddButton:hover{
    border:none;
    background-color: #fff;
    color: #2980b9;
}



/*-----------------------------POST PAGE CSS---------------------------*/
#postBody{
    background: url('./images/background-post.jpg') repeat 0 0;
    animation: 60s linear 0s normal none infinite animate;
    color: #fff;
    filter: brightness(100%);
}


#postRoot{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#addPostBox{
    transform: translate(0, -10%);
}

#addPostTitle{
    transform: translate(-15%, 0);
}
#imageItem{
    color: rgba(0, 0, 0, 0);
}

#itemTitleBox, #descItemBox, #priceItemBox, 
#statusItemBox, #imageItemBox {
    margin-bottom: 5%;
}

#itemTitle, #descItem, #priceItem, 
#statusItem, #addItemButton{
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: green;
}

#postBody{
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: right;
}
#imageItem{
    filter: grayscale(100%) brightness(200%);
}

/*-----------------Home Page CSS-----------------*/
#mainBody{
    background: url('./images/background-home.jpg') repeat 0 0;
    animation: 60s linear 0s normal none infinite animate;
}

#titleSection{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
#userSection{
    position: fixed;
    left: 0;
    top: 9.5%;
    height: 90.5%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

#itemSection{
    position: fixed;
    left: 50%;
    top: 9.5%;
    height: 90.5%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

#userGreetings{
    color: #fff;
}

#userSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
}

.mainPageButton{
    border:none;
    color:rgb(189, 0, 0);
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s ease-out;
}

.mainPageButton:hover{
    color: #fff;
    background-color: rgb(189, 0, 0);
    border:none;
    cursor: pointer;
}
#searchButton{
    border-radius: 0 10px 10px 0 !important;
}

#item{
    border:none;
    border-radius: 10px 0 0 10px;
}
